/*  RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*  GLOBALES  */

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Krub', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.align-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.align-right {
    position: absolute;
    right: 0;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.menuResponsive {
    display: flex;
    justify-content: space-between;
}


/*  BODY  */

body.index {
    display: grid;
    grid-template-areas: "header" "hero" "emprendimiento" "propiedades" "nosotros" "contacto" "footer";
    font-size: 1.6rem;
}


/*  HEADER  */

header {
    height: 12vh;
    grid-area: header;
    background-image: url(../assets/imagenes/back.png);
}

header .navegacion .enlaces {
    display: none;
}

div.logotipo {
    width: 5rem;
}

.logotipo img {
    width: 100%;
}


/*  HERO  */

.hero {
    height: 88vh;
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imagenes/heroMovil.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero video {
    display: none;
}

.hero .heroMessage {
    text-align: center;
    line-height: 5rem;
    color: black;
    padding: 5rem;
    background-color: rgba(211, 211, 211, .2);
}

.heroMessage button {
    padding: 1rem 1.2rem;
    border-radius: .3rem;
    border: .1rem solid black;
}

.heroMessage button a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
}

.accesoEscritorio {
    display: none;
}


/*  EMPRENDIMIENTOS  */

.indexEmprendimientos {
    grid-area: emprendimiento;
    display: flex;
    flex-direction: column;
    border-bottom: .2rem solid black;
}

.imagenEmprendimiento {
    width: 70%;
}

.emprendimientoDatos {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.emprendimientoDatos h3 {
    padding: 2rem;
    font-size: 2.8rem;
}

.emprendimientoDatos .datos,
.emprendimientoDatos .caracteristicas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}

.caracteristicas {
    flex-direction: column;
}

.caracteristicas div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem;
}

.caracteristicas div svg {
    margin-bottom: 2rem;
    font-size: 5rem;
}

.caracteristicas div span {
    text-decoration: underline;
}


/* PROPIEDADES */

.indexPropiedades {
    grid-area: propiedades;
    border-bottom: .2rem solid black;
    overflow: scroll;
}

.propiedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
}

.propiedades article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.propiedades article img {
    width: 50rem;
}

.propiedades p,
.propiedades a {
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.propiedadEspecial {
    position: relative;
}

.propiedadEspecial span {
    position: absolute;
    padding: 1rem;
    font-weight: bold;
    background-color: rgb(140 138 138 / 20%);
}


/* NOSOTROS */

.indexNosotros {
    grid-area: nosotros;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    border-bottom: .2rem solid black;
}

.indexNosotros h2 {
    margin-bottom: 1rem;
}

.indexNosotros article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem;
}

.indexNosotros article svg {
    margin: 0 2em;
}

.nosotrosDatos p:first-child {
    padding: 1rem 0;
    text-decoration: underline;
    font-size: 2.5rem;
}


/* CONTACTO */

.formulario .texto-formulario,
.formulario form {
    display: none;
}

.contactoRedes {
    display: flex;
    justify-content: space-evenly;
}

.indexFormulario {
    grid-area: contacto;
}


/* FOOTER */

footer {
    grid-area: footer;
    background-image: url(../assets/imagenes/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .redes {
    display: none;
}

.footerMessage {
    font-weight: bold;
    color: whitesmoke;
}


/* NOSOTROS */

body.nosotros section {
    grid-area: pageNosotros;
}

body.nosotros {
    display: grid;
    font-size: 1.6rem;
    grid-template-areas: "header" "pageNosotros" "footer";
}

article.nosotros {
    display: flex;
    flex-direction: column;
}

article.nosotros img {
    padding: 2rem;
    width: 100%;
}

.textoNosotros {
    text-align: justify;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

article.staff h3 {
    font-weight: bold;
    font-size: 2.8rem;
    text-decoration: underline;
    margin-bottom: 1.3rem;
    text-align: center;
}

.staffCaracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.6rem
}

.staffCaracteristicas div {
    font-size: 2rem;
    padding: 1.3rem;
    font-weight: bold;
}

.nosotrosMail {
    font-style: italic;
    font-weight: bold;
    font-size: 1.4rem;
}


/* PROPIEDADES */

body.bodyPropiedades main {
    grid-area: pagePropiedades;
}

body.bodyPropiedades {
    display: grid;
    font-size: 1.6rem;
    grid-template-areas: "header" "pagePropiedades" "footer";
}

body.bodyPropiedades .sectionPropiedades img {
    width: 100%;
}

.sectionFormulario form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: lightgray;
    margin-bottom: 2rem;
}

.sectionFormulario form fieldset select,
.sectionFormulario form fieldset input[type="button"] {
    padding: 1.2rem;
    margin: .8rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

.sectionFormulario form fieldset input[type="button"] {
    width: 40%;
    margin: 2rem auto 1rem;
}

body.bodyPropiedades main section.sectionPropiedades .propiedad {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

body.bodyPropiedades main section.sectionPropiedades .propiedad .propiedadDatos h4,
body.bodyPropiedades main section.sectionPropiedades .propiedad .propiedadDatos p {
    margin-bottom: 1rem;
}

body.bodyPropiedades main section.sectionPropiedades .propiedad .propiedadDatos span svg {
    margin: 0 1.2rem;
}


/* EMPRENDIMIENTOS */

body.bodyEmprendimientos section {
    grid-area: pageEmprendimientos;
}

body.bodyEmprendimientos {
    display: grid;
    font-size: 1.6rem;
    grid-template-areas: "header" "pageEmprendimientos" "footer";
}

body.bodyEmprendimientos .sectionEmprendimiento img {
    width: 80%;
}

.emprendimientoDestacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.emprendimientoDestacado .icon-tabler-star {
    position: absolute;
    left: 3rem;
    top: 1rem;
}

.emprendimientoDestacadoDatos {
    display: flex;
    flex-direction: column;
}

.emprendimientoDestacadoDatosPrincipal {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.2rem;
}

.caracteisticasDepartamentos {
    font-style: italic;
    font-size: 1.8rem;
    padding: 1rem;
}

.caracteisticasDepartamentos ul {
    margin: 1.2rem 0;
}

.emprendimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datosEmprendimiento {
    display: flex;
    flex-direction: column;
}

.infoEmprendimiento {
    display: flex;
    justify-content: space-around;
    padding: 1.3rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.datosEmprendimiento p {
    font-style: italic;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
    body.index {
        grid-template-columns: 20% auto;
        grid-template-areas: "header hero" "header emprendimiento" "header propiedades" "header nosotros" "header contacto" "header footer";
    }
    header {
        height: 100vh;
        width: 20%;
        position: fixed;
    }
    header .navegacion {
        display: flex;
        padding: 3rem .5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.logotipo {
        width: 10rem;
    }
    header .navegacion .enlaces {
        display: block;
    }
    header .navegacion .enlaces li {
        padding: 4rem 0;
        list-style: none;
    }
    header .navegacion .enlaces li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .menu {
        display: none;
    }
    /*  HERO  */
    .hero {
        height: 100vh;
    }
    body.nosotros {
        grid-template-columns: 20% auto;
        grid-template-areas: "header pageNosotros" "header footer";
    }
    .staffCaracteristicas {
        flex-direction: row;
        justify-content: space-around;
    }
    body.bodyPropiedades {
        grid-template-columns: 20% auto;
        grid-template-areas: "header pagePropiedades" "header footer";
    }
    body.bodyPropiedades .sectionPropiedades img {
        width: 70%;
    }
    body.bodyEmprendimientos {
        grid-template-columns: 20% auto;
        grid-template-areas: "header pageEmprendimientos" "header footer";
    }
    body.bodyEmprendimientos .sectionEmprendimiento img {
        width: 70%;
    }
}

@media screen and (min-width: 1280px) {
    body.index {
        grid-template-columns: 1fr;
        grid-template-areas: "hero" "header" "propiedades" "emprendimiento" "nosotros" "contacto" "footer";
    }
    header {
        height: auto;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header .navegacion {
        width: 100%;
        padding: 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    div.logotipo {
        width: 5rem;
    }
    header .navegacion .enlaces {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    header .navegacion .enlaces li {
        padding: 0 0;
    }
    header .navegacion .enlaces li a {
        font-size: 2rem;
    }
    /*  HERO  */
    .heroVideo {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-image: None;
    }
    .hero video {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .heroMessage {
        position: relative;
        display: block;
        width: 40%;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        line-height: 5rem;
        color: whitesmoke;
        background-color: rgba(211, 211, 211, .2);
    }
    .accesoMovil {
        display: none;
    }
    .accesoEscritorio {
        display: block;
        margin: 0 auto;
    }
    /* PROPIEDADES */
    .indexPropiedades {
        grid-area: propiedades;
        border-bottom: .2rem solid black;
        overflow: auto;
    }
    .propiedades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 3rem;
    }
    .propiedades article {
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        align-items: center;
    }
    .propiedades article img {
        width: 100%;
    }
    /*  EMPRENDIMIENTOS  */
    .indexEmprendimientos {
        grid-area: emprendimiento;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto, 1fr);
        border-bottom: .2rem solid black;
    }
    .indexEmprendimientos h2 {
        grid-area: 1 / 1 / 2 / 4;
    }
    .imagenEmprendimiento {
        width: 60%;
    }
    .emprendimientoDatos .datos,
    .emprendimientoDatos .caracteristicas {
        padding: 1rem;
    }
    .caracteristicas {
        flex-direction: column;
    }
    .caracteristicas div {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        padding: 2.2rem;
    }
    .caracteristicas div svg {
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
    /* NOSOTROS */
    .indexNosotros {
        grid-area: nosotros;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        grid-gap: 2rem;
        text-align: center;
        border-bottom: .2rem solid black;
    }
    .indexNosotros h2 {
        margin-bottom: 1rem;
        grid-area: 1 / 1 / 2 / 4;
    }
    .indexNosotros article {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        padding: 2rem;
        border: .2rem solid lightslategray;
    }
    /* CONTACTO */
    .formulario .texto-formulario,
    .formulario form {
        display: block;
    }
    .contactoRedes {
        display: none;
    }
    .texto-formulario {
        font-style: italic;
        font-style: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    form fieldset {
        width: 80%;
        padding: 2.2rem;
    }
    form legend {
        text-decoration: underline;
        font-size: 1.8rem;
        padding: 0 2rem;
    }
    form label,
    form input,
    form textarea {
        display: inline-block;
        width: 100%;
    }
    form label {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    form input[type=text],
    form input[type=email] {
        padding: .5rem 0;
        display: block;
        margin-bottom: 1.3rem;
    }
    form textarea {
        width: 100%;
        height: 14rem;
        margin-bottom: 1.3rem;
    }
    form input[type=submit] {
        width: 30%;
        padding: 1rem 0;
        display: block;
        font-weight: bold;
        font-size: 1.5rem;
    }
    /* FOOTER */
    .footerResponsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        text-align: center;
    }
    footer section div.logotipo {
        grid-area: 1 / 2 / 2 / 3;
        margin: 0 auto;
    }
    section .redes {
        grid-area: 1 / 1 / 2 / 2;
        display: block;
    }
    .footerMessage {
        grid-area: 1 / 3 / 2 / 4;
    }
    body.nosotros {
        grid-template-columns: auto;
        grid-template-areas: "header" "pageNosotros" "footer";
    }
    article.nosotros {
        flex-direction: row;
        align-items: center;
    }
    body.bodyPropiedades {
        grid-template-columns: auto;
        grid-template-areas: "header" "pagePropiedades" "footer";
    }
    body.bodyPropiedades .sectionPropiedades img {
        width: 40%;
    }
    .sectionFormulario form fieldset {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sectionFormulario form fieldset div {
        display: flex;
    }
    .sectionFormulario form fieldset div select {
        flex-grow: 1;
        padding: .5rem;
    }
    body.bodyPropiedades main section.sectionPropiedades .propiedad {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    body.bodyEmprendimientos {
        grid-template-columns: auto;
        grid-template-areas: "header" "pageEmprendimientos" "footer";
    }
    body.bodyEmprendimientos .sectionEmprendimiento img {
        width: 30%;
    }
    .emprendimientoDestacado {
        flex-direction: row;
        width: 80%;
        padding: 1rem 0;
    }
    .emprendimientoDestacado .emprendimientoDestacadoDatos {
        padding: 4rem;
    }
    .emprendimiento {
        margin: 2rem 0;
        flex-direction: row;
    }
    .datosEmprendimiento {
        padding: 5rem;
    }
}


/* CONTACTO */

body.bodyContacto main {
    grid-area: pageContacto;
}

body.bodyContacto {
    display: grid;
    font-size: 1.6rem;
    grid-template-areas: "header" "pageContacto" "footer";
}

body.bodyContacto section.formularioContacto {
    padding: 1rem;
    font-size: 2rem;
}

body.bodyContacto section.formularioContacto fieldset {
    display: flex;
    padding: 2rem;
    margin: 2rem 0;
    flex-direction: column;
}

body.bodyContacto section.formularioContacto fieldset label {
    font-weight: bold;
}

body.bodyContacto section.formularioContacto fieldset input[type="text"],
body.bodyContacto section.formularioContacto fieldset input[type="email"] {
    padding: 1rem;
    font-weight: bold;
    margin: 1.2rem;
}

body.bodyContacto section.formularioContacto fieldset input[type="submit"] {
    font-size: 2rem;
    padding: .4rem 1rem;
    margin: 1rem 0;
}

body.bodyContacto .contacto {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(87, 35, 0, 0.699);
}

body.bodyContacto .redesContacto {
    margin: 1rem 0;
    text-decoration: underline;
    font-size: 2.4rem;
}

body.bodyContacto .redesContacto div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    body.bodyContacto {
        grid-template-columns: 20% auto;
        grid-template-areas: "header pageContacto" "header footer";
    }
}

@media screen and (min-width: 1280px) {
    body.bodyContacto {
        grid-template-columns: auto;
        grid-template-areas: "header" "pageContacto" "footer";
    }
    body.bodyContacto section.formularioContacto fieldset {
        display: flex;
        padding: 2rem;
        margin: 0 auto;
        flex-direction: column;
    }
    body.bodyContacto .contacto {
        font-size: 2.2rem;
    }
    body.bodyContacto .redesContacto {
        display: none;
    }
}