#html {
    position: absolute;
    top: 5rem;
    left: 5rem;
}

#css {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
}

#js {
    position: absolute;
    top: 5rem;
    right: 5rem;
}

#php {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

#python {
    position: absolute;
    top: 20%;
    margin: 0 auto;
}