@import "reset";
@import "globales";
@import "idLenguajes";
@import "animaciones";
@import "mediaQueries";

/* HEADER */

header {
    height: 15vh;
    padding: 3rem;
    div {
        height: 100%;
        nav {
            height: 100%;
            .logo-empresa {
                width: 5rem;
                height: 5rem;
            }
        }
    }
}


/* MAIN */

section.hero {
    width: 100%;
    .message-welcome {
        height: 85vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .message {
            h1 {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 4rem;
            }
            h2 {
                font-size: 2rem;
            }
        }
        button.arrow {
            position: absolute;
            display: block;
            bottom: 15rem;
            margin: 0 auto;
            text-align: center;
            border: none;
            opacity: 0;
            background-color: transparent;
            animation: opacidad 1.5s infinite ease-in-out;
            a {
                width: 100%;
                display: block;
                svg {
                    width: 6rem;
                }
            }
        }
        .lenguaje {
            width: 8rem;
        }
    }
}


/** PORTFOLIO **/

.portfolio {
    .articulo-portfolio {
        background-color: lightcyan;
        padding: 2rem;
        border: .2rem solid gray;
        font-weight: bold;
        font-size: 1rem;
        a {
            text-decoration: none;
            padding: 1rem;
        }
    }
}